{% extends 'base.html' %}

{% block content %}

<table>
  <tr>
    <form action="/agendar/datadec" method="POST">
    <td rowspan="2"><input type="image" class="seta" name="seta" value="esquerda" src="../static/images/icon/setaEsquerda.png" ></td>
    </form>
    <td><h3>{{data}}</h3></td>
      <form action="/agendar/datainc" method="POST">
    <td rowspan="2"><input type="image" class="seta" name="seta" value="direita" src="../static/images/icon/setaDireita.png" ></td>
    </form>
  </tr>
</table>


<table>
  <thead>
    <tr>
      <th>Carrinho</th>
      <th>Manhã</th>
      <th>Tarde</th>
      <th>Noite</th>
      </tr>
  </thead>
  <tbody>
    {% for lista in listas %}
    <tr>
      <td> {{ lista[1] }} </td>

      {% if lista[2] != '@': %}
      <td> {{ lista[2] }} </td>
      {% else: %}
      <td><a href="/agendar/carrinho/{{lista[0]}}/{{lista[1]}}/'m'/'{{lista[5]}}'"> Reservar </a></td>
      {% endif %}

      {% if lista[3] != '@': %}
      <td> {{ lista[3] }} </td>
      {% else: %}
      <td><a href="/agendar/carrinho/{{lista[0]}}/{{lista[1]}}/'v'/'{{lista[5]}}'"> Reservar </a></td>
      {% endif %}

      {% if lista[4] != '@': %}
      <td> {{ lista[4] }} </td>
      {% else: %}
      <td><a href="/agendar/carrinho/{{lista[0]}}/{{lista[1]}}/'n'/'{{lista[5]}}'"> Reservar </a></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
