<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>

  <body>
    <header>
      <hr class="barra">
      <h2>Gerenciar Tabelas</h2>
    </header>

    <center>
    <form>
      <a class="bt" href="/gerenciar/disciplinas"> Disciplinas </a>
      <a class="bt" href="/gerenciar/usuarios"> Usuários </a>
      <br><br>
      <a class="bt" href="/gerenciar/carrinhos"> Carrinhos </a>
      <a class="bt" href="/gerenciar/equipamentos"> Equipamentos </a>
      <br><br>
      <a class="bt" href="/gerenciar/reservas"> Reservas </a>
    </form>
    </center>
    <footer>
      <br>
      <a class="bt" href="/main"> Voltar </a>
    </footer>
  </body>
</html>