{% extends 'base.html' %}

{% block content %}

<br>
<form class="formlogin" action="/gerenciar/usuarios" method="POST">
  <label for="usuario_nif"> Nº Ident. Funcional: </label>
  <input type="text" name="nif" size="7" maxlength="10" placeholder="99999" required autofocus>
  &nbsp;
  <label for="usuario_nome"> Nome: </label>
  <input type="text" name="nome" size="40" maxlength="30" placeholder="José da Silva" required>
  &nbsp;
  <label for="usuario_senha"> Senha: </label>
  <input type="text" name="senha" size="10" maxlength="30" placeholder="99999" required>
  &nbsp;
  <input type="submit" value="Salvar">
</form>




<table>
  <thead>
    <tr>
      <th>NIF</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td> {{ usuario[1] }} </td>
      <td> {{ usuario[2] }} </td>
      <td>
        <a href="/gerenciar/usuarios/del/{{usuario[0]}}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
