{% extends 'base.html' %}

{% block content %}
<br>
<form class="formlogin" action="/gerenciar/reservas" method="POST">

  <label for="calendario">Calendário:</label>
  <input type="date" id="calendario" name="calendario" autofocus>
  <!-- <div class="select-block"> -->
    &nbsp;

  <label for="reserva_periodo"> Período: </label>
  <select name="periodo" id="periodo" required>
      <option value="M">Matutino</option>
      <option value="V">Vespertino</option>
      <option value="N">Noturno</option>
    </select>

      &nbsp;

    <label for="carrinho"> Carrinho </label>
    <select name="car" id="car" required>
        <option value="">Selecione um Carrinho</option>
        {% for carrinho in carrinhos %}
        <option value={{carrinho[0]}}>{{carrinho[1]}}</option>
        {% endfor %}
      </select>
  <!-- </div> -->
  &nbsp;

  <!-- <div class="select-block"> -->
    <label for="user"> Usuário </label>
    <select name="user" id="user" required>
        <option value="">Selecione um Usuário</option>
        {% for usuario in usuarios %}
        <option value={{usuario[1]}}>{{usuario[1]}}</option>
        {% endfor %}
      </select>
  <!-- </div> -->
  &nbsp;
  <input type="submit" value="Salvar">
</form>




<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Carrinho</th>
      <th>Manhã</th>
      <th>Tarde</th>
      <th>Noite</th>
      <th>Ações</th>
      </tr>
  </thead>
  <tbody>
    {% for reserva in reservas %}
    <tr>
      <td> {{ reserva[0] }} </td>
      <td> {{ reserva[1] }} </td>
      <td> {{ reserva[2] }} </td>
      <td> {{ reserva[3] if reserva[3] != None else ' '}} </td>
      <td> {{ reserva[4] if reserva[4] != None else ' '}} </td>
      <td> {{ reserva[5] if reserva[5] != None else ' '}} </td>
      <td>
        <a href="/gerenciar/reservas/del/{{reserva[0]}}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
