{% extends 'base.html' %}

{% block content %}

<table>
  <tr>
    <form action="/main/datadec" method="POST">
      <td><input type="image" class="seta" name="seta" value="esquerda" src="../static/images/icon/setaEsquerda.png" ></td>
    </form>
    <td><h3>{{data}}</h3></td>
    <form action="/main/datainc" method="POST">
      <td><input type="image" class="seta" name="seta" value="direita" src="../static/images/icon/setaDireita.png" ></td>
    </form>
  </tr>
</table>



<table>
  <thead>
    <tr>
      <th>Carrinho</th>
      <th>Manhã</th>
      <th>Tarde</th>
      <th>Noite</th>
      </tr>
  </thead>
  <tbody>
    {% for reserva in reservas %}
    <tr>
      <td> {{ reserva[1] }} </td>
      <td> {{ reserva[2] if reserva[2] != None else ' '}} </td>
      <td> {{ reserva[3] if reserva[3] != None else ' '}} </td>
      <td> {{ reserva[4] if reserva[4] != None else ' '}} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


